<h1>Editar nova prova</h1>

<%= form_for @quiz, url: school_quiz_path(@school, @quiz), method: :patch do |f| %>
  	<% if @quiz.errors.any? %>
    	<div id="error_explanation">
      		<h4><%= pluralize(@quiz.errors.count, "erros:") %></h4>
      		<ul>
      			<% @quiz.errors.full_messages.each do |message| %>
        			<li><%= message %></li>
      			<% end %>
      		</ul>
    	</div>
  	<% end %>

	<%= f.label :name %>
	<%= f.text_field :name %>
	<br>
	<%= f.submit "Editar" %>
<% end %>