<h1>Alterar Senha</h1>

<%= form_for @admin, url: profile_update_path(@admin), method: :patch do |f| %>
	<%= f.label :password %>
  	<%= f.password_field :password %>
  	<br>
  	<%= f.label :password_confirmation %>
  	<%= f.password_field :password_confirmation %>
  	<br>
  	<%= f.submit "Atualizar" %>
<% end %>